.contents
  .row-fluid
    .span6
      %div{:class => 'ico_16_dashboard content_header'}
        %h3
          Change your email or password
    .span6
      .content_action_buttons
        %div{:class => 'pull-right posRel'}
          =link_to image_tag("/assets/icons/gray/glyphicons_205_electricity.png"), '', {:class => 'floatLeft bolt-grey'}
          %ul{:class => "nav nav-pills content_actions"}
            %li
              .btn-group
                %a{:class => "btn"}
                  %i{:class => "icon-cog"}
                  Settings
                %a{:class => "btn dropdown-toggle", "data-toggle" => "dropdown"}
                  %span{:class => "caret"}
                %ul{:class => "dropdown-menu widget_option_dropdown settings_dropdown"}
                  %li
                    %a
                      %i{:class => "icon-eye-open"}
                      View
                  %li
                    %a
                      %i{:class => "icon-plus"}
                      Add
                  %li
                    %a
                      %i{:class => "icon-remove"}
                      Remove
            %li
              %button{:class => "btn"}
                %i{:class => "icon-info-sign"}
                Help
  .separator
    %span
  .row-fluid
    .span12
      .widget_wrapper
        .widget_header
          %h3{:class => "icos_pen"}
            Change your email or password
        = render :partial => 'users/sidebar'
        %div{:class => "widget_content no-padding"}
          = semantic_form_for(resource, :as => resource_name, :url => edit_user_email_password_path) do |f|
            = f.inputs :name => "Email" do
              = f.input :email
            = f.inputs :name => "Just to be safe..." do
              = f.input :current_password, :hint => "We need your current password to confirm your email/password changes"
            = f.inputs :name => "New Password" do
              = f.input :password, :input_html => {:autocomplete => :off}, :label => "New password"
              = f.input :password_confirmation, :input_html => {:autocomplete => :off}, :label => "Confirm new password"
            .submit-row
              = submit_or_cancel :cancel => edit_user_registration_path

