%title ScoutForce
//= stylesheet_link_tag :all

= stylesheet_link_tag 'bootstrap.css'
= stylesheet_link_tag 'bootstrap-responsive.css'
= stylesheet_link_tag 'style.css', media: "screen, print"
= stylesheet_link_tag 'jquery-ui-1.8.7.css'
/[if IE8]
  = stylesheet_link_tag 'ie8.css'
/[if IE9]
  = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
= javascript_include_tag 'application'
/ = javascript_include_tag 'script'

- if current_user
  = stylesheet_link_tag 'plugins.css'
= render 'layouts/freshdesk_widget'
